debug: false

server:
  host: http://127.0.0.1:9001
  listen: 127.0.0.1:9001

database:
  addr: 127.0.0.1:6379
  password: ""

connect:
  server: https://push.1c-connect.com
  login: parther
  password: password

files_dir: ./

spec_id: 70b8742d-8eb9-427c-b0db-bea80fefe6ca

line:
  - db13946a-2556-11ea-a699-3a6eaf2a5dcf
